* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

body {
    background-color: #ffffff;
}

.header {
    border-bottom: 1px solid #e5e5e5;
}

.top-bar {
    display: flex;
    justify-content: space-between;
    padding: 12px 80px;
    font-size: 14px;
}

.top-bar a {
    text-decoration: none;
    color: #000;
    margin-right: 20px;
}

.top-left a:hover,
.top-right a:hover {
    text-decoration: underline;
}

.top-right {
    display: flex;
    align-items: center;
}

.location {
    color: #d52b1e;
    font-weight: 600;
}

.order-btn {
    background-color: #ffbc0d;
    padding: 10px 18px;
    border-radius: 4px;
    color: #000;
    font-weight: 600;
    text-decoration: none;
}

.order-btn:hover {
    background-color: #e0a800;
}

.main-nav {
    display: flex;
    align-items: center;
    padding: 20px 80px;
}

.logo img {
    width: 48px;
    margin-right: 40px;
}

nav a {
    text-decoration: none;
    color: #000;
    font-size: 16px;
    font-weight: 500;
    margin-right: 28px;
}

nav a:hover {
    text-decoration: underline;
}


.btn-outline {
  background: transparent;
  border: 1px solid #333;
  padding: 10px 18px;
  cursor: pointer;
}

.hero {
  display: flex;
  align-items: center;
  padding: 60px 40px;
  gap: 40px;
}

.hero-text {
  flex: 1;
}

.hero-text h1 {
  font-size: 42px;
  margin-bottom: 15px;
}

.hero-text p {
  font-size: 18px;
  margin-bottom: 20px;
}

.hero-img {
  flex: 1;
}

.hero-img img {
  width: 100%;
  border-radius: 10px;
}

.cards {
  display: flex;
  justify-content: space-around;
  padding: 50px 40px;
  background: #f7f7f7;
}

.card {
  background: white;
  width: 30%;
  padding: 15px;
  border-radius: 10px;
}

.card img {
  width: 100%;
  border-radius: 10px;
}

.card h3 {
  margin: 15px 0 10px;
}

.card p {
  font-size: 14px;
  margin-bottom: 10px;
}

.card a {
  text-decoration: none;
  color: #006bae;
  font-weight: bold;
}

.footer {
  background: #222;
  color: white;
  padding: 40px;
}

.footer-links {
  display: flex;
  justify-content: space-around;
  margin-bottom: 20px;
}

.footer-links h4 {
  margin-bottom: 10px;
}

.footer-links p {
  font-size: 14px;
  margin-bottom: 5px;
}

.footer p {
  text-align: center;
  font-size: 13px;
}
